.row{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.containerError{
    display: flex;
    place-items: center;
    place-content: center;
    text-align: center;
}
